div(style='height: 100%; width: 100%')
  svg#gen-bg(:viewBox='viewBox')
    defs
      filter(id="pipe-shadow", x="0", y="0", width="200%", height="200%")
        feOffset(result="offOut", in="SourceAlpha", dx="5", dy="5")
        feGaussianBlur(result="blurOut", in="offOut", stdDeviation="5")
        feBlend(in="SourceGraphic", in2="blurOut", mode="normal")
    r(v-for='data in rects', :data='data')
  slot
